.slider-wrapper {
    min-height: 435px;
    background: none;
}

/* .nav-btn {
    position: absolute;
    z-index: 3;
    top: 45%;
    margin-top: -46px;
    height: 92px;
    width: 76px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}
.nav-btn.prev {
    left: 70px;
} */


.slider {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 99999px;
    min-height: 336px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background: #313131;
    white-space: nowrap;
    font-size: 0;
}

 .slider li {
    float: none;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    margin: 0 0 0 -4px;
    width: 250px;
    height: 380px;
    background: #616161;
    border-left: 3px solid #232323;
}

.slider li .pokedex-bg {
    font-family: "Flexo-Bold",arial,sans-serif;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 250px;
    position: static;
    text-align: center;
    font-size: 120px;
    color: #525252;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0;
}

.offscreen {
    left: -99999px;
    position: absolute;
}

 .slider li img.pokemon-character {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    height: 250px;
    z-index: 2;
}
