.App {
  text-align: center;
}

/* body {
  background-color: #333;
}
 */
.NavBars {
  padding: 25px;
 /*  background-color: #333; */
  text-align: left;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
}

.Links {
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
}

.cardImages {
  display: inline;
  margin: 0 auto;
}

.searchedCards {
  display: inline-block;
}
.singleCard {
  padding: 50px;
}

#allContent {
  display: flex;
}

