.App {
  text-align: center;
}

.holderUser {
  background: linear-gradient(-60deg, yellow 30%, black 30%);
  height: 1000px;
}
.homeUsername {
  background-color: chocolate;
}
.NavBars {
  padding: 25px;
  background-color: yellow;
  text-align: left;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background: ${({ theme }) => theme.body};
  color: ${({ theme }) => theme.text};  */
  margin: 15px;
  padding: 15px;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
  border-style: solid;
}
*/ .NavBars {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background-color: #333;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
}
.NavBars a {
  color: black;
  text-decoration: underline;
}

.NavBars {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  /* background-color: #333; */
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.Links {
  padding: 10px;
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
}

.cardImages {
  display: inline;
  margin: 0 auto;
}

.searchedCards {
  display: inline-block;
}

.usercardimages {
  display: inline-block;
}

.singleCard {
  padding: 40px;
}

#allContent {
  display: flex;
}

button {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  min-width: 10rem;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
  margin-top: 0.8rem;
}

label {
  font: 1.1 rem "typewriter", sans-serif;
}

input {
  font: 1.4em/1.5em "handwriting", cursive, sans-serif;
  padding: 8 px;
  margin: 10 px;
  width: 80%;
}

form {
  position: relative;
  width: 740px;
  height: 350px;
  margin: 0 auto;
  padding: 0.5em;
  box-sizing: border-box;
}
.ContainerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ContainerHalfway {
  background-image: -webkit-linear-gradient(-30deg, #2a2b2c 58%, #fbf107 42%);
  height: 60 vh;
}

.ContainerRow {
  display: flex;
  height: 75vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
}

.img {
  border-radius: 50%;
}
